<section class="todo-list">
  <h2>TODO List</h2>

  <form class="filters" [formGroup]="filterForm">
    <label>
      <input type="radio" name="statusFilter" value="all" [formControl]="filterForm.controls.statusFilter" checked />
      All
    </label>
    <label>
      <input type="radio" name="statusFilter" value="completed" [formControl]="filterForm.controls.statusFilter" />
      Completed
    </label>
    <label>
      <input type="radio" name="statusFilter" value="notCompleted" [formControl]="filterForm.controls.statusFilter" />
      Not Completed
    </label>
    <input type="text" formControlName="searchFilter" placeholder="Search by description..." />
  </form>

  <ul>
    @for (todo of filteredTodos(); track todo.id) {
      <li>
        <div class="todo-item" [class.completed]="todo.completed">
          {{ todo.description }}
          <button (click)="todoService.toggleTodoStatus(todo.id)">
            {{ todo.completed ? 'Undone' : 'Done' }}
          </button>
          <button (click)="todoService.deleteTodo(todo.id)">Delete</button>
        </div>
      </li>
    }
  </ul>
</section>
