<section class="add-todo">
  <h2>Add a New TODO</h2>
  <form [formGroup]="form" (ngSubmit)="addTodo()">
    <label for="description">Description:</label>
    <textarea id="description" data-testid="description" formControlName="description" aria-label="Add a TODO description"
              [class.is-invalid]="form.controls.description.invalid && form.controls.description.dirty">
    </textarea>
    <div class="error" data-testid="error">
    @if(form.controls.description.invalid && form.dirty) {
      Description must be at least 3 characters long.
    }
    </div>
    <button class="submit" type="submit" data-testid="submit" [disabled]="form.invalid">Add TODO</button>
  </form>
</section>
